<script lang="ts" setup>
import { ref } from 'vue'
const length = ref(0)
const CheckZero = function () {
  if (length.value === 0) {
    return true
  } else {
    return false
  }
}
</script>

<template>
  <div>
    <v-text-field
      label="Please input Number"
      type="number"
      :error="false"
      v-model.number="length"
      :error-messages="length === 0 ? 'Number is not empty!!' : ''"
    ></v-text-field>
    <v-container>
      <v-row no-gutters>
        <v-col v-for="n in length" :key="n" cols="12" sm="2">
          <v-sheet class="ma-3 pa-3"> {{ n }} </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
</style>
