<script lang="ts" setup>
import { ref } from 'vue'
const feeling = ref('Smile')
const img = ref('../../feeling_imgs/smile.png')

</script>
<template>
   <v-row>
    <v-col class="d-flex justify-center align-center ma-10">
      <v-img :src="img" width="400px" height="400px"></v-img>
    </v-col>
        <v-col class="ma-10">
        <h1 class="text-center">{{ feeling }}</h1>
        <v-container>
          <v-row>
            <v-btn class="my-2" block @click="( feeling = 'Angry'), (img = '../../feeling_imgs/angry.png')">Angry</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-2" block @click="( feeling = 'Cute'), (img = '../../feeling_imgs/cute.png')">Cute</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-2" block @click="
              ( feeling = 'Excited'), (img = '../../feeling_imgs/excited.png')
            ">Excited</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-2" block @click="( feeling = 'Pain'), (img = '../../feeling_imgs/pain.png')">pain</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-2" block @click="
              ( feeling = 'Shocked'), (img = '../../feeling_imgs/shocked.png')
            ">shcoked</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-2" block @click="( feeling = 'smile'), (img = '../../feeling_imgs/smile.png')">smile</v-btn>
          </v-row>
        </v-container>
      </v-col>
  </v-row>

</template>

<style scoped>
.v-btn:focus {
  background-color: yellow;
}

</style>
