<script setup lang="ts">
import { useCounterStore } from '@/stores/counter'
const counter = useCounterStore()

function inc () {
  counter.increment()
}
</script>
<template>
  <div>First Component</div>
  <div>{{ counter.count }}</div>
  <v-btn @click="inc">Increment</v-btn>
</template>
